<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>

<body>
<div th:replace="fragments/topnav::navbar"></div>

<h2 class="text-center">Find Pets</h2>

<form th:object="${pet}" th:action="@{/pets}" method="get" class="form-horizontal text-center"
      id="search-owner-form">
    <fieldset>
        <div class="control-group ">
            <label class="control-label ">Last name </label>
            <input type="text" th:field="*{name}" size="30" maxlength="80"/>
            <span class="help-inline" th:errors="*{name}">Not Found</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Find Pet</button>
        </div>
    </fieldset>
</form>
<div th:insert="fragments/footer::footer"></div>

</body>

</html>