<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"><title>Find Pets</title></head>

<body>
<div th:replace="fragments/topnav::navbar"></div>

<h2 class="text-center">Find Pets</h2>

<form th:object="${pet}" th:action="@{/pets}" method="get" class="form-horizontal text-center"
      id="search-owner-form">
    <fieldset>
        <div class="control-group ">
            <label>
                <input type="text" placeholder="Name" th:field="*{name}" size="30" maxlength="80"/>
            </label>
            <span class="help-inline" th:errors="*{name}">Not Found</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Find Pet</button>
        </div>
    </fieldset>
</form>
<div th:insert="fragments/footer::footer"></div>

</body>

</html>